.ascii-map-container {
  margin-bottom: 0.625rem;
}

.ascii-map-chars {
  display: inline-block;
  line-height: 90%;
  font-family: monospace;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ascii-row {
  white-space: pre;
}

.player {
  font-weight: bold;
}

.ascii-space[data-orig-char="."]:not(.player) {
  color: #7c7a7c;
}

.ascii-space[data-orig-char="D"]:not(.player) {
  color: #a52a2a;
}

.ascii-space[data-orig-char="#"]:not(.player) {
  color: #064866;
}
