:host {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

label {
  text-align: right;
}

form {
  display: flex;
  align-items: center;
}

form input {
  text-align: center;
}

form button {
  margin-left: 0.3rem;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  line-height: 0;
}

form button:hover {
  filter: drop-shadow(0 2px 1px rgb(0 0 0 / 0.4));
  transform: scale(1.1) translateY(-1px);
  transition: all 0.2s;
}

form button:active {
  filter: none;
  transform: scale(1) translateY(0);
  transition: all 0.1s;
}
