:host {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

label {
  text-align: right;
}

form {
  display: flex;
  align-items: center;
}

form input {
  text-align: center;
}

form button {
  margin-left: 0.3rem;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  line-height: 0;
}

form button:hover {
  transform: scale(1.1) translateY(-1px);
  transition: transform 0.2s;
}

form button:active {
  transform: scale(1) translateY(0);
  transition: transform 0.1s;
}
