:host {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

label {
  text-align: right;
}

form {
  display: flex;
  align-items: center;
}

form input {
  text-align: center;
}

form gg-icon {
  margin-left: 0.3rem;
}
