.hidden {
  display: none;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modal-container {
  max-width: 500px;
  margin: 60px auto 0;
  padding: 10px;
  background-color: var(--ui-bg-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-container > section {
  border: 2px groove var(--ui-border-color);
  padding: 0 1rem;
}

.modal-container > footer {
  text-align: right;
  margin-top: 10px;
}

.modal-container > footer > button {
  background-color: var(--ui-button-color);
  border-color: var(--ui-border-color);
  font-size: var(--ui-font-size-sm);
  line-height: var(--ui-font-size-sm);
  padding: 5px 10px;
  margin-left: 8px;
  margin-right: 2px;
  border-width: 1px;
  border-style: outset;
  vertical-align: bottom;
}

.modal-container > footer > button:active {
  border-style: inset;
  padding: 6px 9px 4px 11px;
}

.focus-trap {
  pointer-events: none;
  user-select: none;
}
