:root {
  --ui-bg-color: #a9a9a9;
  --rw-bg-color: #111;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--ui-bg-color);
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* fallback for Firefox */
}

.app-content {
  height: 100%;
  display: flex;
}

.player-panel {
  width: 300px;
  flex-shrink: 0;
}

.key-map-panel .key-binding {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.key-map-panel .key-binding label {
  text-align: right;
}

.key-map-panel .key-binding input {
  text-align: center;
}

.ascii-map-panel pre {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ascii-map-panel code {
  display: inline-block;
  line-height: 90%;
}

.ascii-map-panel .player-details {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.ascii-map-panel .player-details > span {
  flex: 1 1 25%;
}

.ascii-map-panel .player-details > span:last-child {
  flex: 2 2 50%;
}

.play-area {
  flex-grow: 1;
}

.play-area fieldset {
  height: 100%;
}

.play-area .board {
  position: relative;
  background-color: var(--rw-bg-color);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  border-style: inset;
  border-width: 2px;
}

.sprite {
  position: absolute;
}

.translucent {
  opacity: 0.4;
}

.player {
  width: 30px;
  height: 52px;
}

.boy {
  background-image: url(../img/sprite/boy.png);
}

.girl {
  background-image: url(../img/sprite/girl.png);
}

.floor {
  width: 40px;
  height: 30px;
  background-size: 40px 30px;
  background-image: url(../img/floor/floor.png);
}

.wall {
  width: 30px;
  height: 60px;
  background-size: 30px 60px;
}

.cap {
  width: 30px;
  height: 60px;
  background-size: 30px 60px;
}

.nsw {
  background-image: url(../img/wall/nsw.png);
}

.eww {
  background-image: url(../img/wall/eww.png);
}

.new {
  background-image: url(../img/wall/new.png);
}

.nww {
  background-image: url(../img/wall/nww.png);
}

.sew {
  background-image: url(../img/wall/sew.png);
}

.sww {
  background-image: url(../img/wall/sww.png);
}

.net {
  background-image: url(../img/wall/net.png);
}

.nwt {
  background-image: url(../img/wall/nwt.png);
}

.set {
  background-image: url(../img/wall/set.png);
}

.swt {
  background-image: url(../img/wall/swt.png);
}

.crt {
  background-image: url(../img/wall/crt.png);
}

.csp {
  background-image: url(../img/wall/csp.png);
}

.swc {
  background-image: url(../img/wall/swc.png);
}

.ewc {
  background-image: url(../img/wall/ewc.png);
}

.sec {
  background-image: url(../img/wall/sec.png);
}
