body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #000;
}

div {
  position: absolute;
}

#container {
  width: 600px;
  height: 600px;
  top: 20px;
  left: 20px;
}

.translucent {
  opacity: 0.4;
}

.player {
  width: 30px;
  height: 52px;
  background-image: url(../img/sprite/boy.png);
}

.floor {
  width: 40px;
  height: 30px;
  background-image: url(../img/floor/floor.png);
}

.wall {
  width: 30px;
  height: 60px;
}

.nsw {
  background-image: url(../img/wall/nsWall.png);
}

.eww {
  background-image: url(../img/wall/ewWall.png);
}

.new {
  background-image: url(../img/wall/neWall.png);
}

.nww {
  background-image: url(../img/wall/nwWall.png);
}

.sew {
  background-image: url(../img/wall/seWall.png);
}

.sww {
  background-image: url(../img/wall/swWall.png);
}

.net {
  background-image: url(../img/wall/neWallT.png);
}

.nwt {
  background-image: url(../img/wall/nwWallT.png);
}

.set {
  background-image: url(../img/wall/seWallT.png);
}

.swt {
  background-image: url(../img/wall/swWallT.png);
}

.crt {
  background-image: url(../img/wall/centerWallT.png);
}

.swc {
  background-image: url(../img/wall/sWallCap.png);
}

.ewc {
  background-image: url(../img/wall/eWallCap.png);
}

.sec {
  background-image: url(../img/wall/seWallCap.png);
}

#w1-0 {
  top: 28px;
  left: 165px;
  z-index: 2;
}

#w1-1 {
  top: 38px;
  left: 185px;
  z-index: 3;
}

#w1-2 {
  top: 48px;
  left: 205px;
  z-index: 4;
}

#w1-2c {
  top: 48px;
  left: 205px;
  z-index: 4;
}

#w1-3 {
  top: 58px;
  left: 225px;
  z-index: 5;
}

#w1-4 {
  top: 68px;
  left: 245px;
  z-index: 6;
}

#w1-5 {
  top: 78px;
  left: 265px;
  z-index: 7;
}

#w1-6 {
  top: 88px;
  left: 285px;
  z-index: 8;
}

#w1-7 {
  top: 98px;
  left: 305px;
  z-index: 9;
}

#w1-7c {
  top: 98px;
  left: 305px;
  z-index: 9;
}

#w2-0 {
  top: 38px;
  left: 145px;
  z-index: 3;
}

#w2-2 {
  top: 58px;
  left: 185px;
  z-index: 5;
}

#w2-2c {
  top: 58px;
  left: 185px;
  z-index: 5;
}

#w2-7 {
  top: 108px;
  left: 285px;
  z-index: 10;
}

#w3-0 {
  top: 48px;
  left: 125px;
  z-index: 4;
}

#w3-7 {
  top: 118px;
  left: 265px;
  z-index: 11;
}

#w4-0 {
  top: 58px;
  left: 105px;
  z-index: 5;
}

#w4-2 {
  top: 78px;
  left: 145px;
  z-index: 7;
}

#w4-7 {
  top: 128px;
  left: 245px;
  z-index: 12;
}

#w5-0 {
  top: 68px;
  left: 85px;
  z-index: 6;
}

#w5-2 {
  top: 88px;
  left: 125px;
  z-index: 8;
}

#w5-2c {
  top: 88px;
  left: 125px;
  z-index: 8;
}

#w5-3 {
  top: 98px;
  left: 145px;
  z-index: 9;
}

#w5-4 {
  top: 108px;
  left: 165px;
  z-index: 10;
}

#w5-5 {
  top: 118px;
  left: 185px;
  z-index: 11;
}

#w5-6 {
  top: 128px;
  left: 205px;
  z-index: 12;
}

#w5-7 {
  top: 138px;
  left: 225px;
  z-index: 13;
}

#w5-7c {
  top: 138px;
  left: 225px;
  z-index: 13;
}

#w6-0 {
  top: 78px;
  left: 65px;
  z-index: 7;
}
